body {
	margin: 0;
	padding: 0;
	font: 1em Raleway;
}
a {
	text-decoration: none;
	color: white;
}
/* NAV MENU  */
.nav__menu {
	display: flex;
	background-color: #30343f;
	justify-content: space-between;
	width: auto;
	padding: 39px 70px;
}
ul {
	display: flex;
	list-style: none;
}
li a {
	font-size: 20px;
	margin: 0 25px;
}
/* BANNER  */
.banner__container {
	filter: contrast(110%);
	display: flex;
	flex-direction: column;
	background-image: url('../imgs/funkos-banner.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
}
.banner__texts {
	margin: 70px;
	color: white;
}
.banner__texts h3 {
	font-size: 38px;
	margin-bottom: 0;
}
.banner__texts p {
	font-size: 18px;
}
.banner__btn {
	border-style: none;
	border-radius: 20px;
	width: 211px;
	height: 47px;
}
.banner__btn a {
	color: black;
	font-size: 20px;
}

main {
	margin: 0 110px;
}
/* CARDS  */
.card__container {
	display: flex;
	justify-content: space-around;
}
.card__container img {
	max-width: 600px;
	max-height: 600px;
}
.card__texts__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.card__texts {
	border-bottom: 3px solid #ff3333;
	margin-bottom: 34px;
}
.card__texts h2 {
	font-size: 46px;
}
.card__texts p {
	font-size: 24px;
}
.card__texts__container button {
	background-color: #30343f;
	border-radius: 20px;
	width: 290px;
	padding: 18px 0;
}

/* NUEVOS LANZAMIENTOS */
.newFunkos__title {
	font-family: Raleway;
	font-size: 46px;
	font-weight: 700;
	line-height: 54px;
	letter-spacing: 0em;
	text-align: left;
}
.newFunkos__container {
	display: flex;
	justify-content: space-evenly;
}
.newFunkos__card {
	width: 360px;
	display: flex;
	flex-direction: column;
}
.newFunkos__img__container {
	position: relative;
}
.newFunkos__img {
	width: 360px;
}
.newFunkos__span {
	background-color: #ff3333;
	text-align: center;
	padding: 10px;
	width: 97px;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
}
.newFunkos__texts {
	font: 1em Inter;
}
.newFunkos__texts__title {
	font-weight: 700;
	font-size: 18px;
}

.newFunkos__texts__price {
	font-size: 16px;
	font-weight: 400;
}
.newFunkos__texts__cuotas {
	font-size: 12px;
	font-weight: 700;
	color: #1d84b5;
}

/* FOOTER */
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 343px;
	background-color: #30343f;
}
.footer__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 100px 0;
}
.footer__nav {
	margin-left: 100px;
	display: flex;
	flex-direction: column;
}
.footer__nav__li {
	margin: 4px;
}
.footer__nav__logo {
	margin-right: 120px;
}
.derechos__container {
	display: flex;
	justify-content: center;
	color: white;
	margin-bottom: 40px;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 500;
}
