<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrito</title>
</head>

<body>
    <nav>
        <picture>
            <a href="#"><img src="../imgs/branding/logo_light_horizontal.svg" alt="logo FunkoShop" />
            </a>
        </picture>
        <ul>
            <li><a href="#">SHOP</a></li>
            <li><a href="#">CONTACTO</a></li>
            <li><a href="#">LOGIN</a></li>
            <li>
                <a href="#">
                    <img src="../imgs/icons/cart-icon.svg" alt="">
                </a>
            </li>
        </ul>
    </nav>
    </header>

    <main>
        <h1>CARRITO DE COMPRAS</h1>
        <table>
            <thead>
                <tr>
                    <td>DETALLE DEL PRODUCTO</td>
                    <td>CANTIDAD</td>
                    <td>TOTAL</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <article>
                            <div>
                                <picture><img src="../imgs/star-wars/baby-yoda-1.webp" alt="Figura colleccionable">
                                </picture>
                            </div>
                            <div>
                                <p>STAR WARS</p>
                                <h4>STORMTROOPER LIGHTSABER</h4>
                                <p>$ 179,99</p>
                            </div>
                        </article>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </main>

    <footer>
        <section>
            <nav>
                <ul>
                    <li>
                        <a href="#">SHOP</a>
                    </li>
                    <li>
                        <a href="#">RESGISTRARSE</a>
                    </li>
                    <li>
                        <a href="#">REGISTRARSE</a>
                    </li>
                    <li>
                        <a href="#">CONTACTO</a>
                    </li>
                </ul>
                <picture>
                    <img src="../imgs/branding/logo_light_horizontal.svg" alt="logo FunkoShop" />
                </picture>
            </nav>
        </section>
        <p>All rights reserved 2023 - FunkoShop &copy;</p>
    </footer>


</body>

</html>