<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- CSS -->
   <link rel="stylesheet" href="../css/home.css">
   <title>FunkoShop</title>
</head>
<body>
   <header>
      <!-- Menú de navegación, enlaces a otras páginas del sitio -->
      <nav class="nav__menu">
         <a href="#"><img src="../imgs/branding/logo_light_horizontal.svg" alt="logo FunkoShop"> </a>
         <ul>
            <li><a href="#">SHOP</a></li>
            <li><a href="#">CONTACTO</a></li>
            <li><a href="#">LOGIN</a></li>
         </ul>
      </nav>
   </header>
<!-- Banner  -->
   <div class="banner__container">
      <div class="banner__texts">
         <h3>Nuevos Ingresos</h3>
         <p>Descubrí el próximo Funko Pop de tu colección</p>
         <button class="banner__btn"><a href="#">Shop</a></button>
      </div>
   </div>
   <!-- Contenido principal de la página de inicio, como banners, secciones destacadas, noticias, etc. -->
    <main>
      <!-- Cards -->
      <!-- card 1 -->
      <div class="card__container">
         <div class="card__texts__container">
            <div class="card__texts">
               <h2>STAR WARS & THE MANDALORIAN</h2>
               <p>Disfruta de una saga que sigue</p>
               <p>agregando personajes a su colección</p>
            </div>
            <button><a href="#">VER COLECCIÓN</a></button>
         </div>
         <img src="../imgs/star-wars/baby-yoda-1.webp" alt="">
      </div>
      <!-- card 2  -->
      <div class="card__container">
         <img src="../imgs/pokemon/vulpix-1.webp" alt="">
         <div class="card__texts__container">
            <div class="card__texts">
               <h2>POKEMON INDIGO</h2>
               <p>atrapa todos los que puedas y disfruta</p>
               <p>de una colección llena de amigos</p>
            </div>
            <button><a href="#">VER COLECCIÓN</a></button>
         </div>
      </div>
      <!-- card 3 -->
      <div class="card__container">
         <div class="card__texts__container">
            <div class="card__texts">
               <h2>HARRY POTTER</h2>
               <p>Disfruta de una saga que sigue </p>
               <p>agregando personajes a su colección</p>
            </div>
            <button><a href="#">VER COLECCIÓN</a></button>
         </div>
         <img src="../imgs/harry-potter/snape-patronus-1.webp" alt="">
      </div>
      
      <!-- Ultimos lanzamientos -->
      <h2 class="newFunkos__title">ÚLTIMOS LANZAMIENTOS</h2>
      <div class="newFunkos__container">
         <!-- Card 1 -->
         <div class="newFunkos__card">
            <div class="newFunkos__img__container">
               <img class="newFunkos__img" src="../imgs/star-wars/trooper-1.webp" alt="">
               <span class="newFunkos__span">NUEVO</span>
            </div>
            <div class="newFunkos__texts">
               <p class="newFunkos__texts__category">STAR WARS</p>
               <p class="newFunkos__texts__title"><b>STORMTROOPER LIGHTSABER</b></p>
               <p class="newFunkos__texts__price">$1799,99</p>
               <p class="newFunkos__texts__cuotas"> 3 CUOTAS SIN INTERÉS</p>
            </div>
         </div>
         <!-- Card 2 -->
         <div class="newFunkos__card ">
            <div class="newFunkos__img__container">
               <img class="newFunkos__img" src="../imgs/pokemon/pidgeotto-1.webp" alt="">
               <span class="newFunkos__span">NUEVO</span>
            </div>
            <div class="newFunkos__texts">
               <p class="newFunkos__texts__category">POKEMON</p>
               <p class="newFunkos__texts__title"><b>PIDGEOTTO</b></p>
               <p class="newFunkos__texts__price">$1799,99</p>
               <p class="newFunkos__texts__cuotas"> 3 CUOTAS SIN INTERÉS</p>
            </div>
         </div>
         <!-- Card 2 -->
         <div class="newFunkos__card">
            <div class="newFunkos__img__container">
               <img class="newFunkos__img" src="../imgs/harry-potter/luna-1.webp" alt="">
               <span class="newFunkos__span">NUEVO</span>
            </div>
            <div class="newFunkos__texts">
               <p class="newFunkos__texts__category">HARRY POTTER</p>
               <p class="newFunkos__texts__title"><b>LUNA LOVEGOOD LION MASK</b></p>
               <p class="newFunkos__texts__price">$1799,99</p>
               <p class="newFunkos__texts__cuotas"> 3 CUOTAS SIN INTERÉS</p>
            </div>
         </div>
      </div>

    </main>

    <footer>
        <!-- Coloca el contenido del pie de página aquí, como enlaces de contacto y derechos de autor -->
    </footer>

</body>
</html>