<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- CSS -->
   <link rel="stylesheet" href="../css/home.css">
   <title>FunkoShop</title>
</head>
<body>
   <header>
      <!-- Menú de navegación, enlaces a otras páginas del sitio -->
      <nav class="nav__menu">
         <a href="#"><img src="../imgs/branding/logo_light_horizontal.svg" alt="logo FunkoShop"> </a>
         <ul>
            <li><a href="#">SHOP</a></li>
            <li><a href="#">CONTACTO</a></li>
            <li><a href="#">LOGIN</a></li>
         </ul>
      </nav>
   </header>
<!-- Banner  -->
   <div class="banner__container">
      <div class="banner__texts">
         <h3>Nuevos Ingresos</h3>
         <p>Descubrí el próximo Funko Pop de tu colección</p>
         <button class="banner__btn"><a href="#">Shop</a></button>
      </div>
    <img src="../imgs/funkos-banner.webp" alt="">
   </div>
   <!-- Contenido principal de la página de inicio, como banners, secciones destacadas, noticias, etc. -->
    <main>
      <div class="card__container">
         <div class="card__texts__container">
            <div class="card__texts">
               <h2>STAR WARS & THE MANDALORIAN</h2>
               <p>Disfruta de una saga que sigue agregando personajes a su colección</p>
            </div>
            <button><a href="#">VER COLECCIÓN</a></button>
         </div>
         <img src="../imgs/star-wars/baby-yoda-1.webp" alt="">
      </div>
    </main>

    <footer>
        <!-- Coloca el contenido del pie de página aquí, como enlaces de contacto y derechos de autor -->
    </footer>

</body>
</html>